.comic-container {
  position: absolute;
  left: 300px;
  width: 800px;
  padding: 10px;
  padding-bottom: 100px;
  margin-top: 300px;
  margin-bottom: 30px;
  height: 30px,auto;
}
.comic{
  padding:10px;
  font-size: 20px;
}
.comic-img {
  border: 2px;
  padding: 2px;
}
