<!-- Navigation Bar-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="" ng-click="home()">Comics Store</a>
    </div>
    <div>
      <ul class="nav nav-tabs">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="">Genres
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="" ng-click="scienceFiction()">Science Fiction</a></li>
            <li><a href="" ng-click="superHeroes()">Superheroes</a></li>
          </ul>

        <li><a href="#/main">Editions</a></li>
        <li><a href="#/main">News</a></li>
        <li><a href="#/main">Characters</a></li>
      </ul>

    </div>
  <span class="user-right" ng-click="showProfileAction()">Welcome <a href="">{{user.user}}</a></span>
  <span class="home" ng-click="home()"><a href="">Home</a></span>
  <span class="admin" ng-show="isAdmin()" ng-click="showAdminUsersAction()"><a href="">Admin Users</a></span>
  <span class="logout" ng-click="logout()"><a href="">Logout</a></span>

  </div>

</nav>
<!-- Navigation Bar-->

<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
              Comics Bar
        </li>
        <li>
            <a href="#/main" ng-click="qualification()">Qualifications</a>
        </li>
        <li>
            <a href="#/main" ng-click="searches()">Top Searches</a>
        </li>
        <li>
            <a href="#/main" ng-click="recommended()">Recommended</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->

<!-- Carrousel -->
<carrousel></carrousel>
<!-- Carrousel -->

<!-- user profile -->
<user-profile ng-show="showProfile"></user-profile>
<!-- user profile -->

<!-- profiles -->
<profiles ng-show="showProfiles"></profiles>
<!-- profiles -->

<!-- comics -->
<comics ng-show="showComics"></comics>
<!-- comics -->
