<!-- Navigation Bar-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Comics Store</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#/main">Genres</a></li>
        <li><a href="#/main">Editions</a></li>
        <li><a href="#/main">News</a></li>
        <li><a href="#/main">Characters</a></li>
      </ul>
        <li class="container-fluid navbar navbar-default pull-right"><a href="#/main">{{user.user}}</a></li>
    </div>
  </div>
</nav>
<!-- Navigation Bar-->



<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
              Comics Bar
        </li>
        <li>
            <a href="#/main">Popular</a>
        </li>
        <li>
            <a href="#/main">Qualifications</a>
        </li>
        <li>
            <a href="#/main">Top Searches</a>
        </li>
        <li>
            <a href="#/main">Recommended</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->
